#container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 1.5em;
}
button{
    font-size: 1.5em;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background-color: aqua;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.25s;
}
button:hover{
    background-color: rgb(122, 19, 218);
}
button:active{
    background-color: rgb(163, 93, 228);
}
input,label{
    font-size: 1.5em;
    width: 100px;
    text-align: center;
    font-weight: bold;
}
#diceresult{
    margin: 25px;
    border: 1px solid black;
}
/* #diceimages{
    size: 10%;
} */
